// -------------------------------------
// Wine Cellar Template: LESS > Theme
// -------------------------------------



// ------------------------------
// #Table of Contents
// ------------------------------

//  #Site Styles
//  #Page Styles
//  #Header
//  #Default Page



// ------------------------------
// Site Styles
// ------------------------------


body {
    background-color: darken(@color__body--background, 12%);
}

body.edit,
body.edit .hero {
	@media @tablet {
		max-height: 650px;
	}
	
	@media @mobile {
		max-height: 450px;
	}
}


// Site Container
.site-container {
    width: 100%;
    height: 100%;
    background-color: @color__body--background;

    @media @bp-global-above-fullwidth {
        width: 90%;
        max-width: @value__container--width;
        margin: 0 auto;
    }
    @media @mobile {
        display: block;
        min-height: inherit;
    }
}

// Main
.main-content {
    position: relative;
    padding-top: 40px;
    margin-top: 0;
    background-color: @color__body--background;
    padding-bottom: 20px;
}




// ------------------------------
// Page Styles
// ------------------------------


.page {

    // Default Page
    &--default .main-content,
    &--blogpost .main-content {
        margin-top: 0;
    }
}




// ------------------------------
// #Header
// ------------------------------

.template-header {
    position: absolute;
    top: 0;
    z-index: 99999 !important;
    width: 100%;
    padding: 30px 0px 0px 30px;
    background-color: transparent;
    max-width: 100%;
    border-bottom: 0 solid transparent!important;
    box-shadow: none!important;

    @media @bp-global-below-fullwidth {
        width: 100%;
    }

    @media @bp-tablet {
        padding: 30px 30px 0px 30px;
    }

    @media @tablet {
        padding: 20px;
        width: 100%;
        position: absolute;
        padding: 30px;
    }
    @media @mobile {
        order: 1;
        border-bottom: 1px solid lighten(@color__header--background, 5%);
        padding: 20px;
    }


    // Container
	.container {
		.flex-display;
		.justify-content(space-between);
        .align-items(center);
        width: 100%;
        margin: 0;
        max-width: 100%;
	}

    // Flex Item
    .flex-item:first-child {
        .flex-display;
        .justify-content(flex-start);
        .flex-wrap(wrap);
        @media @tablet {
            .align-items(center);
            width: 100%;
        }
        @media @mobile {
            display: inline-block;
            width: 100%;
            float: left;
        }
    }
    .flex-item:last-child {
        .flex-display;
        .justify-content(flex-end);
        @media @mobile {
            display: inline-block;
            width: 16%;
            float: right;
            position: relative;
        }
    }
    .flex-logo {
        .flex-display;
        .align-items(@align: center);
        .flex(1 0 auto);
        @media @tablet {
            .flex(0 0 auto);
        }
    }
    .flex-companyname {
        .flex-display;
        .align-items(@align: center);
        .flex(1 0 auto);
        @media @tablet {
            .flex(0 0 auto);
        }
    }
}
.bk-tpl-hidden {
    display: none;
}

// Header: Additional
// ------------------------------

// For default page and when feature is hidden
.widget[data-widget-type="image"].bk-tpl-hidden + .template-header,
.page--default .template-header {
    position: relative;
    z-index: inherit;
    width: 100%;
    background-color: @color__header--background;
    min-height: auto;
    border-bottom: 1px solid darken(@color__body--background, 10%);
    padding: 30px 0 30px 30px;


    // Flex Item
    @media @mobile {
        position: relative;
    }

    // Profile Widget
    .profile {

        p, h2, h3,
        .phone-number-link,
        .company-link,
        .social-link:before,
        .emailaddress__email,
        .button {
            color: @color__h2--text;
        }

        // Twitter
        .tweet-content a {
            color: @color__primary;
        }

         // Email
        .emailaddress__email {
            @media @tablet {
                color: transparent;

                &:before {
                    color: @color__h2--text;
                }
            }
        }

        // Form
        .input {
            color: @color__h2--text;
            border-color: darken(@color__body--background, 10%);
        }

        // Placeholder
        .input::-webkit-input-placeholder {
            opacity: .6;
            color: @color__p--text;
        }
        .input:-moz-placeholder {
            opacity: .6;
            color: @color__p--text;
        }
        .input:-ms-input-placeholder {
            opacity: .6;
            color: @color__p--text;
        }
        .input::-ms-input-placeholder {
            opacity: .6;
            color: @color__p--text;
        }

        // Button
        .button {
            position: relative;
            top: 1px;
            margin-top: 0;
            padding: 0 10px;
            border-left: 0;
            border-right: 1px solid darken(@color__body--background, 10%);
        }

    }

    // Navigation Toggle Button
    .navigation-toggle {
        background-color: @color__h2--text;

        &:after, &:before {
            background: @color__h2--text;
        }
    }
    .open .navigation-toggle {
        background-color: transparent;

        &:after, &:before {
            background: @color-swatch4;
        }
    }
}

.widget[data-widget-type="image"].bk-tpl-hidden + .template-header + .hero-signup {
    display: none;
}

.widget[data-widget-type="image"].bk-tpl-hidden + .template-header + .navigation-list--children {
    background-color: @color__header--background;
}


// Default Page
// ------------------------------

.page--default .template-header {
    position: relative;
    background-color: @color__header--background;
}

// Mobile Navigation
// -----------------

.page--default {
    .template-header {
        @media @tablet {
            padding: 30px;
        }
    }

    .main-content {
        padding-top: 0;
        padding-bottom: 60px;
    }

    .navigation-list--children {
        background-color: @color__header--background;
    }

    .navigation-toggle:hover:after,
    .navigation-toggle:hover:before,
    .navigation-toggle,
    .navigation-toggle:after,
    .navigation-toggle:before {
        background-color: #fff!important;
    }
}

.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header .open .navigation-toggle,
.page--default .template-header .open .navigation-toggle {
    background-color: transparent!important;
}

// Default Page Title
.template-title {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    margin: 40px 0;

    @media @tablet {
        margin: 20px 0;
        padding: 10px 0;
    }
}

.template-title h2 {
    &:after {
        border-top: 3px solid @color-swatch3;
        content: "";
        display: block;
        position: relative;
        margin: 25px auto 5px;
        min-width: 80px;
        max-width: 200px;
        width: 50px;
    }
}
