{% extends "layout.twig" %}

{% block content %}

<section class="page  page--default">


    {% include "includes/header.twig" %}

    <div class="template-title-wrap">
        <div class="template-title">
            <h2 style="padding-bottom: 0;">
                <span>{{ page.title }}</span>
            </h2>
        </div>
    </div>


    <!-- Zone Content -->
    <div class="main-content">
        <div class="container">

            {{zone('main')|raw}}

        </div>
    </div>

</section>

{% include "includes/footer.twig" %}

{% endblock %}

