{% extends "layout.twig" %}
{% block content %}

<div class="bk-pt-default">

	<!-- CONTAINER -->
	<div class="template-container">
	
		<!-- HEADER -->
		{% include "includes/header.twig" %}
	
		<div class="profile-header">
	    	{{widget('extendednavigation', 'extendednavigation', { 'align': 'right'})|raw}}
		</div>
	
		<!-- MAIN SECTION -->
		<div role="main" class="ecom-product">
	
			{{zone('main')|raw}}
	
		</div>
		<!-- END MAIN SECTION -->
	
		<!-- FOOTER -->
		{% include "includes/footer.twig" %}
	
	</div>
	<!-- END CONTAINER -->

</div>

{% endblock %}
