// -------------------------------------
// Kings Template: Stylesheet
// -------------------------------------


#tdk-toolbar {
    display: none!important;
}

.widget__menu {
    display: none!important;
}


// ------------------------------
// #Table of Contents
// ------------------------------

//  #Imports
//  #Global Breakpoints
//  #Site Styles
//  #Header / Footer
//  #Navigation

//  #Page Styles
//  -- #Home




// -----------------------------
// #Imports
// -----------------------------

@import "@{templateCommon}/bk-less-framework-v8.less";   // LESS Framework v8
@import "@{templateLocal}/less/variables.less";         // Variables

@import "@{templateLocal}/less/typography.less";  // Typography
@import "@{templateLocal}/less/mixins.less";      // Mixins
@import "@{templateLocal}/less/widgets.less";     // Widgets
@import "@{templateLocal}/less/layout.less";      // Layout
@import "@{templateLocal}/less/widget-navigation.less";  // Navigation
@import "@{templateLocal}/less/theme.less";       // Template

@import "@{templateLocal}/less/plugins/plugin-blog.less";       // Plugin: Blog
@import "@{templateLocal}/less/plugins/plugin-ecommerce.less";  // Plugin: Ecommerce




// ------------------------------
// #Global Breakpoints
// ------------------------------

// Page is contained and centered
@bp-global-above-fullwidth: ~"only screen and (min-width: 1800px)";

// Page displayed full width
@bp-global-below-fullwidth: ~"only screen and (max-width: 1800px)";

@bp-global-large: 	~"only screen and (min-width: 1400px)";
@bp-global-medium: 	~"only screen and (min-width: 770px) and (max-width: 1400px)";
@bp-global-small: 	~"only screen and (max-width: 769px)";
@mobile: ~"only screen and (max-width: 650px)";

@bp-1050: ~"only screen and (max-width: 1050px)";

// When specific styles for responsive columns styles are applied
@bp-global-columns: ~"only screen and (min-width: 478px)";



// ------------------------------
// Site Styles
// ------------------------------


// Body
body {
    background-color: darken(@color__body--background, 12%);
}


// Site Container
.site-container {
    width: 100%;
    display: block!important;
    height: 100%;
    min-height: 100%!important;
    background-color: @color__body--background;
    max-width: 100%;

    @media @bp-global-above-fullwidth {
        max-width: @value__container--width;
        margin: 0 auto;
    }
}

// Container
.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1024px;

	&--lrg {
		max-width: 100%;

		.widget {
			margin: 0;
		}
	}
	&--med {
		max-width: 1600px;
	}
}


// Main
.main-content {
    position: relative;
    background-color: @color__body--background;
}

.page-container {
    margin: 20px auto 0;
    max-width: 75%;
    width: 1024px;
    @media @tablet {
        max-width: 100%;
        padding: 2%;
    }
}

.page--home {
    .blogpostlist__post-items {
        margin: 0px auto;
        max-width: 100%;
    }
}


// Main Image
.hero {
    position: relative;
    text-align: center;
    .imagewidget__caption {
        background-color: fade(@color__image-caption--background, 30%);
    }
    .imagewidget__image-title,
    .imagewidget__image-description {
        display: none;
    }
}

.hero-signup {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    h1, h2, h3, h4, h5, p, a, span {
        color: @font-swatch9-color;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    }
    h1 {
        font-size: @font__h1--font-size;
        line-height: @font__h1--line-height;
        max-width: 80%;
        margin: 0px auto;
    }
    .signupform__legend {
        display: none;
    }
    .homepage-header,
    .homepage-content {
        margin-bottom: 20px;
    }
    input[type="email"] {
        padding: 20px;
    }
    .signupform__button {
        height: 60px;
        padding: 10px 30px;
        border-radius: 0;
    }
}

// Home Profile Widget
.home-profile-widget {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0px auto;
    text-align: center;

    .social-item {
        display: inline-block;
        margin: 0;
        position: relative;
    }

    .social-social-link {
        color: #fff;
        text-decoration: none;
        padding: 0;
        background-color: transparent;
        &:before {
            background-color: transparent;
            width: 44px;
            height: 34px;
            line-height: 24px;
        }
        &:after {
            border-top: 10px solid transparent;
        }
    }

    .social-link:hover {
        background: transparent;
        &:before {
            background-color: transparent!important;
        }
        &:after {
            border-top: 0;
        }
    }
    
    .social-link:hover:after {
        border-left: solid transparent 15px;
        border-right: solid transparent 15px;
        border-bottom: solid #fff 20px;
        bottom: -22px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -15px;
        position: absolute;
        width: 0;
    }
}

.footer-blocks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;


    background-color: #f5f5f5;
    height: 400px;

    .legend {
        text-align: center;
    }
}

.block-one {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 50%;

    .map__embed-wrap {
        height: 400px!important;
    }
}

.block-two {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 50%;
}

