// -----------------------------------------
// Scribe Template: CSS > Widgets > Sign Up Form
// -----------------------------------------




.widget__signupform {
	.boxshadow;
	padding: 60px;

	&:after {
		content: "\f044";
    	font-family: fontawesome;
    	position: absolute;
    	top: 26%;
    	right: 6%;
    	font-size: 30px;
    	color: #ddd;
	}



	// Legend
	// ------------------------------


	.legend {
		color: @color__form-legend--text;
		width: 100%;
		font-family: @font__h1--font-family;
		font-size: @font__h1--font-size;
		line-height: @font__h1--line-height;
		text-align: left;
		margin-bottom: 20px;
		&:after {
        	height: 3px;
        	display: block;
        	width: 6%;
        	background: @color__button--background;
        	content: '';
        	margin-top: 15px;
    	}

		@media @bp-global-small {
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			text-align: left;
			height: auto;
	        padding: 10px 20px;
		    font-size: 20px;
		    line-height: 24px;
		}
	}




	// Form Body
	// ------------------------------


	.form-body {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-pack: start;
		-moz-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;

	    @media @mobile {
	    	display: block;
	    }
	}




	// Form Group
	// ------------------------------


	.form-group {
		margin-bottom: 0;

		&:first-child {
			-webkit-box-flex: 0;
			-moz-box-flex: 0;
			-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			margin-right: -10px;
			@media @mobile {
		    	margin-bottom: 10px;
		    }
		}

		.input[type="email"] {
			height: 52px;
			box-shadow: none;
			border-bottom: 1px solid #ddd;
			padding: 0;
		}

	}

	// Last Form Group

	.form-group:last-of-type {
		margin: 0;
	}




	// Label
	// ------------------------------


	.label {
		display: none;

	}
}




// ---------------------------------
// Columns variations
// ---------------------------------




// All Columns
// ------------------------------


.responsivecolumns {

	// Legend

	.widget__signupform .legend {
		width: auto;
		display: block;
		float: none;
		position: relative;
		text-align: left;
		padding: 0;
		background: none;
		color: @color__primary;
		margin-bottom: 10px;

	}

	// Form Body

	.widget__signupform .form-body {
		float: none;
		width: auto;
		padding: 0;
	}
}

// 4 columns
// ------------------------------


.columns-four-first,
.columns-four-second,
.columns-four-third,
.columns-four-fourth,
.columns-three-left,
.columns-three-right,
.columns-three-middle {

	// Form Body

	.widget__signupform .form-body {
		display: block;
	}

	// First Form Group

	.widget__signupform .form-group:first-child {
		margin-bottom: 10px;
	}
}
