// ---------------------------------------------------
// Wine Cellar Template: CSS > Widgets > Sign Up Form
// ---------------------------------------------------




.widget__signupform {
	.boxshadow;
	padding: 60px;

	@media @tablet {
		padding: 40px;
	}

	@media @mobile {
		padding: 20px;
	}

	&:after {
		content: "\f044";
    	font-family: fontawesome;
    	position: absolute;
    	top: 26%;
    	right: 6%;
    	font-size: 30px;
    	color: #ddd;
    	@media @mobile {
    		top: 10%;
    	}
	}



	// Legend
	// ------------------------------


	.legend {
		color: @color__form-legend--text;
		width: 100%;
		font-family: @font__h2--font-family;
		font-size: @font__h2--font-size;
		line-height: @font__h2--line-height;
		text-align: left;
		margin-bottom: 20px;
		&:after {
        	height: 3px;
        	display: block;
        	width: 50px;
        	background: @color__button--background;
        	content: '';
        	margin-top: 15px;
    	}

		@media @bp-global-small {
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			text-align: left;
			height: auto;
            font-size: 28px;
            line-height: 38px;
		}
	}




	// Form Body
	// ------------------------------


	.form-body {
        .flex-display(@display: flex);
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
        .flex-direction(@direction: row); 
        .flex-wrap(@wrap: nowrap);
        .justify-content(@justify: flex-start);
		.align-content(@align: stretch);

	    @media @mobile {
	    	display: block;
	    }
	}




	// Form Group
	// ------------------------------


	.form-group {
		margin-bottom: 0;

		&:first-child {
            .flex(@columns: 1 1 auto); 
			margin-right: -10px;
			@media @mobile {
		    	margin-bottom: 10px;
		    }
		}

		.input[type="email"] {
			height: 52px;
			box-shadow: none;
			border-bottom: 1px solid #ddd;
			padding: 0;
		}

	}

	// Last Form Group

	.form-group:last-of-type {
		margin: 0;
	}




	// Label
	// ------------------------------


	.label {
		display: none;

	}
}




// ---------------------------------
// Columns variations
// ---------------------------------




// All Columns
// ------------------------------


.responsivecolumns {

	// Legend

	.widget__signupform .legend {
		width: auto;
		display: block;
		float: none;
		position: relative;
		text-align: left;
		padding: 0;
		background: none;
		margin-bottom: 10px;

	}

	// Form Body

	.widget__signupform .form-body {
		float: none;
		width: auto;
		padding: 0;
	}

    .widget__signupform {
        padding: 30px;
    }

    // 4 columns
    // ------------------------------
    
    
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth,
    .columns-three-left,
    .columns-three-right,
    .columns-three-middle {
    
    	// Form Body
    
    	.widget__signupform .form-body {
    		display: block;
    	}
    
    	// First Form Group
    
    	.widget__signupform .form-group:first-child {
    		margin-bottom: 10px;
    	}
    
    }
    
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {
        .widget__signupform:after {
            display: none;
        }
    }

}
