<!-- Footer -->

<div class="footer-blocks">
    <div class="block-one">
        {{widget('profile', 'footermap', {
            'profileType':'map'
        })|raw}}
    </div>
    <div class="block-two">
        {{widget('profile', 'footerform', {
          'profileType':'form'
        })|raw}}
    </div>
</div>




<footer class="template-footer">
	{{widget('profile', 'copyrightfooter', {
    'profileType':'copyright',
    'copyright':'profile',
    'refreshtime':'1800000'
    })|raw}}
</footer>
