<!-- Header -->
<header class="template-header">
	<div class="container">

		<div class="flex-item">
			<div class="flex-logo">
				{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			</div>
			<div class="flex-companyname">
				{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			</div>
		</div>

		<div class="flex-item">
			<div class="navigation-bar">
				{{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}
			</div>
		</div>

	</div>
</header>
